body {
  background: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  text-align: center;
  color: #fff;
  font-weight: 100;
}

#newJearIn {
  font-size: 12vh;
}

#timer {
  font-size: 30vh;
}

@media (orientation: portrait) {
  #newJearIn {
    font-size: 12vw;
  }

  #timer {
    font-size: 16vw;
  }
}
@media (orientation: landscape) {
  #newJearIn {
    font-size: 12vh;
  }

  #timer {
    font-size: 30vh;
  }
}